# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
characters/__pycache__/
weapons/__pycache__/
enemies/__pycache__/
pickups/__pycache__/

# Virtual environments
.venv/
venv/
env/
assets/levels/RunNGun.tiled-session
